
			<div class="Column Column1">
				<h1>站内统计</h1>
				<table id="Buzz" border="0" cellpadding="0" cellspacing="0" class="AltColumns">
					<tbody>
						<tr class="Alt">
							<th>1</th>
							<td class="Alt">用户数</td>
						</tr>
						<tr>
							<th>1</th>
							<td class="Alt">昨天注册人数</td>
						</tr>
						<tr class="Alt">
							<th>1</th>
							<td class="Alt">一周内注册人数</td>
						</tr>
						<tr>
							<th>2</th>
							<td class="Alt">帖子数</td>
						</tr>
						<tr class="Alt">
							<th>2</th>
							<td class="Alt">昨天新帖数</td>
						</tr>
						<tr>
							<th>2</th>
							<td class="Alt">一周内新贴数</td>
						</tr>
						<tr class="Alt">
							<th>1</th>
							<td class="Alt">评论数</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="Column Column2">
				<h1>最近活动用户</h1>
				<table id="RecentUsers" border="0" cellpadding="0" cellspacing="0" class="AltColumns">
					<tbody>
						<tr class="Alt">
							<th><a href="/profile/1/admin">admin</a></th>
							<td class="Alt">4:55</td>
						</tr>
					</tbody>
				</table>
			</div>