		<div class="ycsamebox" style="margin-top:10px;">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title spe">初购有礼</div>
				<div class="txt" style="color:#333;border-top:#ccc 1px solid">
					<p>第一次成功购买，即赠送 <span>¥5.0</span> 元代金券。</p>
				</div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12" /></div>
		</div>
		<div class="ycsamebox">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title">正在团购</div>
				<div class="txt">
					<p><a href="#">118包邮！最让女生心动的韩国正版猪兔子—韩国热播电视剧《原来是美男啊》正品公仔 兔年首选！</a></p>
					<p class="pic_ing"><a href="#"><img src="/images/1_20110301172230_zhu28ee29.jpg" /></a></p>
				</div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12" /></div>
		</div>
		<div class="ycsamebox">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title">邀请有奖！</div>
				<div class="txt clearfix">
					<div class="l"><img src="/images/ico_liwu_n.gif" width="42" height="43"></div>
					<div class="r" style="width:150px;line-height:22px;font-size:14px;">每邀请一位好友，您将获得 <span>¥10</span> 元拉手奖励</div>
				</div>
				<div><a href="/invite3.php?id=22198">» 我要邀请朋友</a></div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12/"></div>
		</div>
		<div class="ycsamebox">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title">答疑</div>
				<div><a href="/dayi/beijing">查看全部(161823)</a> | <a href="/dayi/beijing?#post">我要提问</a></div>
				<div class="yi_text">
					<div class="ques" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？">
							网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？
						</a>
					</div>
					<div class="answ" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。">
							您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。
						</a>
					</div>
				</div>
				<div class="yi_text">
					<div class="ques" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？">
							网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？
						</a>
					</div>
					<div class="answ" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。">
							您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。
						</a>
					</div>
				</div>
				<div class="yi_text">
					<div class="ques" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？">
							网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？
						</a>
					</div>
					<div class="answ" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。">
							您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。
						</a>
					</div>
				</div>
				<div class="yi_text">
					<div class="ques" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？">
							网页上写第一次团购有五元代金券，我是第一次团购，代金券什么时候可以给我呢？
						</a>
					</div>
					<div class="answ" style="max-height:40px;_height:40px; overflow:hidden">
						<a target="_blank" href="/ShopQnaList.tr?shopId=1#qna_293" title="您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。">
							您好这位朋友,关于代金卷是这样的,需要您在收到货物后点击“确认收货”这样才算交易成功！交易成功后五元代金卷会自动返到您的玫瑰团账户。
						</a>
					</div>
				</div>
				<div class="custom-service">
					<p class="im">						
						<a target="blank" href="msnim:chat?contact=meiguituan@hotmail.com" saddress="meiguituan@hotmail.com" id="service-msn-help">
							<img src="http://bangimg.oobang.com/shop/micro/default/button-custom-msn.gif" alt="客服MSN">
						</a>
						<a target="blank" href="tencent://message/?uin=1354967985&amp;Menu=yes">
							<img src="http://bangimg.oobang.com/shop/micro/default/button-custom-qq.gif" alt="客服QQ">
						</a>
						<a target="blank" href="aliim:sendmsg?&amp;siteid=cntaobao&amp;status=2&amp;touid=cntaobao玫瑰团">
							<img src="http://bangimg.oobang.com/shop/micro/default/button-custom-wangwang.gif" alt="客服旺旺">
						</a>
					</p>
					<p class="time">客服时间：09:30-12:00 14:00-18:00（周一~周五）</p>
					<p class="time">客服电话：010-57292090</p>
				</div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12" /></div>
		</div>
		<div class="ycsamebox">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title">小调查</div>
				<div class="txt clearfix">
					<div class="l"><img src="/images/ico_dc_n.gif" width="42" height="55"></div>
					<div class="r" style="width:150px;line-height:20px;font-size:14px;"><a href="/survey.php">你最想团购的是什么？</a><br>
					请告诉我们，让我们更好的为您服务！</div>
				</div>
				<div style="text-align:center;padding-top:3px;"><a href="/survey.php"><img src="/images/btn_dc.jpg" border="0" width="146" height="28" /></a></div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12" /></div>
		</div>
		<div class="ycsamebox">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title">我要提供团购信息</div>
				<div class="txt clearfix">
					<p>消费达人、优质商家、淘宝大卖家们，<a href="#">请点这里</a></p>
				</div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12" /></div>
		</div>
		<div class="ycsamebox">
			<div class="d_top"></div>
			<div class="d_main">
				<div class="title">成长脚印</div>
				<div class="txt clearfix">
					<p>2011-4-1 <a href="#">团购网</a>上线开通</p>
				</div>
			</div>
			<div class="d_bottom"><img src="/images/bg_ycbom_n.png" width="240" height="12" /></div>
		</div>