/* ================================================================ Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;
}
/* remember to define focus styles! */
:focus{outline: 0;}
body{line-height: 1;color: black;background: white;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/* ================================================================ Reset CSS2 */
*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#000;text-align:center;font-family:"宋体";font-family:inherit;line-height: 1.7;}
form,ul,ul li,p{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#1E79A7;text-decoration:none;}
a:hover{color:#ff0084;text-decoration:none;}
img{border:0px;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

h1, h2, h3, h4, h5, h6{margin: 0;padding: 0;}
h1 span, h2 span, h3 span, h4 span{display: none;}
input, option, select, textarea, button {font-size: 12px;}

#Container{width:100%;text-align:center;margin:0 auto;background:#DBF3FC;}
.wapper{margin:0 auto;width:960px;text-align:left;}

/* ============================================== General Styles & Typography */
#Body {background: #fff;float: left;width: 100%;}
#Content {padding: 0;margin: 0 0 0 200px;border-left: 1px solid #82bddd;background: #fff;}
.Hidden {display: none;}
.nowrap {white-space: nowrap;}
.Center {text-align: center;}
.Right {text-align: right;}
h1, h2, h3, h4, h5, h6 {color: #000;font-weight: normal;margin: 0;}
#Content h1,
#Content h3 {
	text-shadow: 0 1px 0 #fff;
	color: #222;
	background: #dbf3fc;
	border-top: 1px solid #8bc1de;
	border-bottom: 1px solid #8bc1de;
	padding: 10px 20px;
	font-size: 14px;
	margin: 0;
}
#Content h1 a {
	text-shadow: none;
	font-size: 12px;
	margin-left: 20px;
}
#Content h3 {
	border-top: 1px solid #8bc1de;
}
#Content h4 {
	padding: 20px 20px 0;
}
#Content table h4 {
	padding: 0;
}
p {margin: 0.5em 0 0 0;line-height: 1.6em;}
code {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #ff9;
	padding: 4px;
	white-space: pre;
	font-family: monospace;
	overflow: auto;
	box-shadow: 0px 0px 1px #999;
	-moz-box-shadow: 0px 0px 1px #999;
	-webkit-box-shadow: 0px 0px 1px #999;  
}
h1, h2 {
	font-size:140%;
	font-weight:bold;
	margin-bottom:10px;
	text-shadow: #fff 0 1px 0;
}
h3 {
   font-size:120%;
}
h4 {
	font-size: 110%;
	font-weight: bold;
}
h5 {
   font-size: 110%;
}
.Arrow {
	font-size: 18px;
}
a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   color: #2786c2;
}
a:hover {
   text-decoration: none;
   color: #ff0084;
}
input.DateBox,
input.InputBox,
input.SmallInput,
textarea {
	font-family: arial;
	color: #444;
	font-size: 16px;
	padding: 3px;
	margin: 0;
	width: 250px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
textarea.TextBox {
	font-size: 14px;
	width: 500px;
	height: 100px;
	min-height: 100px;
	max-height: 500px;
}
#Popup textarea.TextBox {
   width: 465px;
}
input.SmallInput,
input.InputBox {
   font-size: 15px;
   padding: 6px 3px;
}
input.SmallInput:focus,
input.InputBox:focus,
textarea:focus {
   background: #ffd;
	color: #333;
	border: 1px solid #aaa;
}
textarea {
   line-height: 128%;
}
select {
   font-family: arial;
   font-size: 14px;
   color: #222;
   margin: 0;
   padding: 3px;
   }
select.Day,
select.Year {
   margin-left: 4px;
}
a.SmallButton,
a.Button,
input.Button,
input.SmallButton {
	margin: 0;
	box-shadow: 0px 0px 2px #999;
	-moz-box-shadow: 0px 0px 2px #999;
	-webkit-box-shadow: 0px 0px 2px #999;  
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:url("/images/bg-button-blue.png") repeat-x scroll left top transparent;
	border:1px solid #0F7FE6;
	color:#003673;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0 1px 0 #B7F5FD;
}
a.Button {
	padding: 5px 7px;
}
a.SmallButton {
	margin-right: 10px;
	padding: 4px;
	font-size: 12px;
}
a.SmallButton:hover,
a.Button:hover,
input.Button:hover,
input.SmallButton:hover {
	border: 1px solid #0B64C6;
	color: #001F44;
	text-shadow:0 1px 0 #EEFFFF;
}
a.SmallButton:focus,
a.Button:focus,
input.Button:focus,
input.SmallButton:focus {
	background: #81CFF6;
	border:1px solid #0B64C6;
	color:#001F44;
	text-shadow:0 1px 0 #EEFFFF;
}
input.SmallButton,
a.SmallButton {
   border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size:11px;
	font-weight:normal;
	padding:2px 4px;
	background-position: 0 -3px;
	box-shadow:0 0 0 #999999;
	-moz-box-shadow:0 0 0 #999999;
	-webkit-box-shadow:0 0 0 #999999;
}
input.SmallButton:hover,
a.SmallButton:hover,
.SmallBlueButton:hover {
	box-shadow:0 0 2px #999999;
	-moz-box-shadow:0 0 2px #999999;
	-webkit-box-shadow:0 0 2px #999999;
}
.Loading {
   height: 100px;
   padding: 0 20px;
   background: url('/images/progress.gif') center center no-repeat;
}
.AfterButtonLoading {
   background: url('/images/progress.gif') center center no-repeat;
   padding: 0 20px;
}
.Progress {
   padding: 10px 40px 10px 0;
   background: url('/images/progress.gif') center center no-repeat;
}
.TinyProgress {
	padding: 10px 40px 10px 0 !important;
	background: url('/images/progress_sm.gif') center center no-repeat;
}

/* =================================================================== Header */
#Head{background: url('/images/dashboard-bg.png') top center repeat-x #014687;border-bottom: 1px solid #000;padding: 10px 18px 18px;text-align: right;}
	#Head h1{border: 0;float: left;margin: 0;padding: 3px 0 0;}
	#Head h1 a{font-size: 24px;color:#f8fdff;text-shadow:0 1px 0 #000;}
	
	#Head div.User {padding: 8px 0 0;}
	#Head div.User a{
		background: url('/images/dashboard-bg.png') -480px -191px repeat-x #01518d;
		border: 1px solid #002b57;
		color: #fff;
		text-shadow:0 1px 0 #000;
		padding: 4px 6px;
		margin: 0 0 0 6px;
		font-size: 12px;
		font-weight: normal;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	#Head div.User a:hover{background-position: -480px -191px;box-shadow: 0 0 1px #0066C8;-moz-box-shadow: 0 0 1px #0066C8;-webkit-box-shadow: 0 0 1px #0066C8;}
	#Head div.User a.Profile,#Head div.User a.Profile:hover {
		background-position: -5px -191px;padding: 4px 6px 4px 24px;
	}
	#Head div.User a:focus{background-position: -480px -294px;}
	#Head div.User a.Profile:focus{background-position: -5px -294px;}
	#Head div.User a:focus{box-shadow: 0 0 1px #6fa3c9;-moz-box-shadow: 0 1px 0 #6fa3c9;-webkit-box-shadow: 0 0 1px #6fa3c9;}
	#Head div.User a span{margin: 0 0 0 6px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;background: #003671;padding:0 4px;}

#PageBody{height:auto !important;width:100%;margin:auto;min-height:200px;text-align:left;margin-top:0px;background:#FFF;}

#Footer {
	clear: both;
	font-size: 12px;
	color: #076C8E;
	font-weight: bold;
	padding: 4px 18px 2px;
	position: relative;
	background: url('/images/dashboard-bg.png') center -96px repeat-x #014687;
	border: none;
	border-bottom:1px solid #000204;
}
#Footer img {
	display: none;
}
#Footer a {
	color: #076C8E;
}
#Footer .Version {
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: #5F9BBF;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 5px;
}
#Footer div a {
	display: block;
	background: url('/images/logo_footer.png') center center no-repeat;
	height: 32px;
	width: 72px;
	margin: 6px 0 10px;
}

.pagination{text-align:right;padding:0 !important;}
