
	<div class="main_l">
		<div class="todaydeal">
			<div class="d_top"><img src="/images/g_bgdealht.png" width="700" height="8" /></div>
			<div class="d_main">
				<h1><span>银川</span>今日团购: 仅售138元！原价253元的北京T6香辣火锅劲爽4人套餐一份：鸳鸯锅+极品S肥牛+羊肋卷+自助小料+港式牛丸+午餐肉+鲜鸭血+手工鲜面+珍珠芋儿+茼蒿+大白菜+百威纯生+赠送T6火锅会员卡！建外SOHO店，SOHO现代城店，望京店，住邦2000店，4店通用！邀请好友返利10元！</h1>
				<div class="dealinfo clearfix">
					<div class="deal_l">
						<div class="buybox">
							<div class="buy clearfix">
								<div class="price" style="text-align:center;font-size:30px;">￥138</div>
								<a href="/buy.php?id=23246"><div class="btn_buy"></div></a>
							</div>
							<div class="shuzi">
								<ul>
									<li>原价<br><h4 title="253.00">￥253</h4></li>
									<li>折扣<br><h3>5.5折</h3></li>
									<li class="red">节省<br><h3>￥115</h3></li>
								</ul>
							</div>
						</div>
						<div class="deal_samebox clearfix">
							<div class="title">
								距离本次团购结束还有：<br>
								<span id="time">2天1小时29分19秒</span>
							</div>
							<div class="box_r">
								<img src="/images/hourglass002.gif" width="29" height="50" />
							</div>
						</div>
						<div class="deal_samebox status">
							<h6>已经有261人购买</h6>
							<div class="done">
								<img src="/images/deal-buy-succ.gif" align="absmiddle" width="27" height="28/"> 团购已成功，还可以继续购买...
							</div>
							<div style="padding:0px 10px;color:#ff3300">数量有限，再不抢就来不及啦！</div>
							<div style="color:#666">8点58分达到最低团购人数：10人</div>
						</div>
					</div>
					<div class="deal_r">
						<div class="image">
							<a href="http://www.lashou.com/deal/beijing/23246.html" target="_blank">
								<img src="/images/23246.jpg" alt="T6香辣火锅4人套餐一份">
							</a>
						</div>
						<div class="text">T6是美味、时尚，是一周七天，天天都想，只留一个星期天给他的第三者~~</div>
					</div>
				</div>
			</div>
			<div class="d_bottom">
			</div>
		</div>
		<div class="todayinfo">
			<div class="d_top">
				<img src="/images/bg_dlintop.png" width="690" height="8/">
			</div>
			<div class="d_main clearfix">
				<div class="info">
				
				<!-- Content Begin  --->
				
			<p style="line-height:200%;color:#2EC8E9;font-weight:bold;text-indent:28px;">本次团购商品为苹果牌正品精梳棉七日运动袜（7双），仅限配送地址为北京地区用户购买，原价<span style="font-size:18px;padding:0px 5px;color:#FF0000;">88</span>元，拉手团购仅需<span style="font-size:22px;padding:0px 5px;color:#FF0000;">35</span>元</p>

<div style="background-color:#2EC8E9;font-weight:bold;margin:36px 0px 0px 0px;width:430px"><span style="color:#ffffff;padding:0px 25px">温馨提示</span><span style="font-family:'Arial Black'; background:#FFFFFF;color:#2EC8E9;padding:0px 25px">Tips</span></div>
<p style="line-height:200%;color:#2EC8E9"><span style="padding:3px;color:#2EC8E9;font-weight:bold">·</span>参与本次团购可获得“苹果牌[7日/周]运动袜一盒（七双装）”男女两款可供选择；</p>
<p style="line-height:200%;color:#2EC8E9"><span style="padding:3px;color:#2EC8E9;font-weight:bold">·</span>本次团购仅限配送地址为北京地区用户购买，请您在购买时仔细填好您的详细收货地址、电话和款式，我们会在团购结束后5天内按照购买顺序进行配送，请您耐心等待，如果有任何问题，请致电咨询：57101955；</p>
<p style="line-height:200%;color:#FF0000"><span style="padding:3px;color:#2EC8E9;font-weight:bold">·</span><b>商品送达时请您本人当面打开包装仔细检查验收，确认无误再签字验收
（如商品存在配送有误、数量缺失、产品破损等问题，请当面向配送人员提出拒收；快递签收后产生的一切纠纷商家将不再负责，感谢您的谅解与配合）；</b>
</p>
<p style="line-height:200%;color:#FF0000"><span style="padding:3px;color:#2EC8E9;font-weight:bold">·</span>本次团购不参加7天无条件退款。</p>
<p style="border-top:1px solid #2EC8E9"></p>


<p style="line-height:200%;color:#4c4c4c;margin-top:42px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;"></span><b>【产品介绍】</b></p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">品名：</span>苹果牌[7日/周]运动袜 - 7双装</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">产品材质：</span>以精梳棉为主</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">成分：</span>（精梳棉)棉76%，涤纶22.4%，氨纶1.6%</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">安全技术类别：</span>GB18401-2003 B类（可直接接触皮肤）</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">质量等级：</span>一等品</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">尺码/SIZE：</span>均码</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">男：</span>23-28cm，适合38码-44码</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">女：</span>19-24cm，适合35码-39码</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">产品：</span>7双一盒</p>
<p style="line-height:200%;color:#4c4c4c;margin-top:10px"><span style="color:#2EC8E9;padding:0px 7px;font-weight:bold;">包装：</span>可再生牛皮纸盒</p><br>

<p style="line-height:200%;color:#2EC8E9"><span style="padding:3px;color:#2EC8E9;font-weight:bold">·</span>有顾客会问，不是说全棉袜么，为什么包装上是73%棉呢？商家给您解释一下：
为什么全棉的袜子还掺了其他的成分呢？其实，真正100%棉的袜子是不存在的，也是不实际的。你想想看，100%的棉，那就是一团棉花啊，它没有弹性，没有色泽，而且不耐穿，很快就会磨出洞来。
所以，在袜子的生产工艺上，一般棉含量达到60—70%，就叫 “全棉”袜子了。另外的30%左右一般有涤纶+氨纶或者锦纶+氨纶组成。其中的氨纶就是一双袜子快磨穿时，还有几根丝连着的那些材料，氨纶的作用主要是用来保证袜子的耐穿度。袜子的罗口部分和其他一些需要有弹力加固的地方一般由涤纶或锦纶组成，加入涤纶或锦纶的袜子手感和穿着感都要好得多。而且袜子的标志、图案等不可能用棉来编织的，所以我们所说的“全棉”袜子指的是除了弹性纤维以外的纱线为全棉。
</p>			<br>
					
					<!-- Content End  --->
					
		  		</div>
				<div class="company">
					<h3>苹果牌七日运动袜</h3>
					<div style="width:185px;margin-top:10px;">
					<div id="map" style="width: 185px; height: 190px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(253, 208, 178); border-right-color: rgb(253, 208, 178); border-bottom-color: rgb(253, 208, 178); border-left-color: rgb(253, 208, 178); position: relative; " class="olMap"><div id="map_Mapabc_ViewPort" style="position: relative; overflow-x: hidden; overflow-y: hidden; width: 100%; height: 100%; background-image: url(http://api.mapabc.com/ajaxmap/2.1.2/js/img/transparent.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; cursor: url(http://api.mapabc.com/ajaxmap/2.1.2/js/img/openhand.cur), default; background-position: initial initial; background-repeat: initial initial; " class="olMapViewport"><div id="map_Mapabc_Container" style="position: absolute; z-index: 749; left: 0px; top: 0px; "><div id="Mapabc.Layer.TMS_16" style="position: absolute; width: 100%; height: 100%; z-index: 100; " dir="ltr" class="olLayerDiv"><div style="overflow-x: hidden; overflow-y: hidden; position: absolute; z-index: 1; left: -77px; top: 226px; width: 256px; height: 256px; "><img id="MapabcDiv43" style="position: relative; width: 256px; height: 256px; background-color: transparent; " class="olTileImage" src="http://emap0.mapabc.com/mapabc/maptile?v=w2.61&amp;x=13494&amp;y=6206&amp;z=14"></div><div style="overflow-x: hidden; overflow-y: hidden; position: absolute; z-index: 1; left: 179px; top: 226px; width: 256px; height: 256px; "><img id="MapabcDiv45" style="position: relative; width: 256px; height: 256px; background-color: transparent; " class="olTileImage" src="http://emap3.mapabc.com/mapabc/maptile?v=w2.61&amp;x=13495&amp;y=6206&amp;z=14"></div><div style="overflow-x: hidden; overflow-y: hidden; position: absolute; z-index: 1; left: 179px; top: -30px; width: 256px; height: 256px; "><img id="MapabcDiv47" style="position: relative; width: 256px; height: 256px; background-color: transparent; " class="olTileImage" src="http://emap1.mapabc.com/mapabc/maptile?v=w2.61&amp;x=13495&amp;y=6205&amp;z=14"></div><div style="overflow-x: hidden; overflow-y: hidden; position: absolute; z-index: 1; left: -77px; top: -30px; width: 256px; height: 256px; "><img id="MapabcDiv49" style="position: relative; width: 256px; height: 256px; background-color: transparent; " class="olTileImage" src="http://emap3.mapabc.com/mapabc/maptile?v=w2.61&amp;x=13494&amp;y=6205&amp;z=14"></div></div><div id="Mapabc.Layer.Vector_18" style="position: absolute; width: 100%; height: 100%; z-index: 724; left: 0px; top: 0px; " dir="ltr" class="olLayerDiv"><svg id="Mapabc.Layer.Vector_18_svgRoot" width="185" height="190" viewBox="0 0 185 190"><g id="Mapabc.Layer.Vector_18_root" style="visibility: visible; " transform=""><g id="Mapabc.Layer.Vector_18_vroot"></g><g id="Mapabc.Layer.Vector_18_troot"></g></g></svg></div><div id="Mapabc.Layer.Markers_20" style="position: absolute; width: 100%; height: 100%; z-index: 725; " dir="ltr" class="olLayerDiv"><div id="marker_0" style="cursor: pointer; z-index: 0; width: 17px; height: 28px; position: absolute; left: -532.5px; top: 763px; "><img id="marker_0_innerImage" style="width: 17px; height: 28px; position: relative; " src="http://t1.lashouimg.com/templates/default/images/marker.png"></div><div id="marker_1" style="cursor: pointer; z-index: 0; width: 17px; height: 28px; position: absolute; left: -349.5px; top: 734px; "><img id="marker_1_innerImage" style="width: 17px; height: 28px; position: relative; " src="http://t1.lashouimg.com/templates/default/images/marker.png"></div><div id="marker_2" style="cursor: pointer; z-index: 0; width: 17px; height: 28px; position: absolute; left: 433.5px; top: 616px; "><img id="marker_2_innerImage" style="width: 17px; height: 28px; position: relative; " src="http://t1.lashouimg.com/templates/default/images/marker.png"></div><div id="marker_3" style="cursor: pointer; z-index: 0; width: 17px; height: 28px; position: absolute; left: -447.5px; top: -604px; "><img id="marker_3_innerImage" style="width: 17px; height: 28px; position: relative; " src="http://t1.lashouimg.com/templates/default/images/marker.png"></div></div><div id="Mapabc.Layer.Boxes_22" style="position: absolute; width: 100%; height: 100%; z-index: 725; " dir="ltr" class="olLayerDiv"></div></div><div id="Attribution" style="position: absolute; bottom: 2px; right: 15px; z-index: 1003; " class="olControlAttribution olControlNoSelect" unselectable="on"><a style="text-decoration:none;font-family:Arial,宋体;font-size:13px;color:#000" href="http://www.mapabc.com/" target="_blank">© MapABC © AutoNavi</a></div><div id="Mapabc.Control.ModifyFeature_25" style="position: absolute; z-index: 1004; " class="olControlModifyFeature olControlNoSelect" unselectable="on"></div><div id="panZoom" style="position: absolute; left: -4px; top: -1px; z-index: 1005; " class="olControlPanZoom olControlNoSelect" unselectable="on"><div id="panZoom_zoomin" style="left: 2px; top: -1px; width: 26px; height: 26px; position: absolute; cursor: pointer; " title="放大"><img id="panZoom_zoomin_innerImage" style="width: 26px; height: 26px; position: relative; " src="http://api.mapabc.com/ajaxmap/2.1.2/js/img/zoomin_mini.png"></div><div id="panZoom_zoomout" style="left: 2px; top: 25px; width: 26px; height: 26px; position: absolute; cursor: pointer; " title="缩小"><img id="panZoom_zoomout_innerImage" style="width: 26px; height: 26px; position: relative; " src="http://api.mapabc.com/ajaxmap/2.1.2/js/img/zoomout_mini.png"></div></div><div id="map_magnifyingglass" style="position: absolute; border-right-width: medium; border-right-style: none; border-right-color: initial; border-top-width: medium; border-top-style: none; border-top-color: initial; border-left-width: medium; border-left-style: none; border-left-color: initial; border-bottom-width: medium; border-bottom-style: none; border-bottom-color: initial; left: -2.5px; top: 20.5px; display: none; z-index: 0; width: 111px; height: 74px; "><div id="MapabcDiv51" style="position: absolute; line-height: 1px; width: 4px; height: 4px; left: 0px; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: red; border-right-color: red; border-bottom-color: red; border-left-color: red; "></div><div id="MapabcDiv52" style="position: absolute; line-height: 1px; width: 4px; height: 4px; right: 0px; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: red; border-right-color: red; border-bottom-color: red; border-left-color: red; "></div><div id="MapabcDiv53" style="position: absolute; line-height: 1px; width: 4px; height: 4px; right: 0px; border-top-width: 0px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: red; border-right-color: red; border-bottom-color: red; border-left-color: red; top: 69px; "></div><div id="MapabcDiv54" style="position: absolute; line-height: 1px; width: 4px; height: 4px; left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: red; border-right-color: red; border-bottom-color: red; border-left-color: red; top: 69px; "></div></div></div></div>
					<div style="background:url(http://s2.lashouimg.com/templates/default/images/map-bgg.png) repeat-x;height:29px;width:185px;border:1px #cdcdcd solid;">
					<div style="padding:5px 0px 0px 50px">
					<div><img src="http://t1.lashouimg.com/templates/default/images/map-big.png" border="0" align="absmiddle" width="14" height="14">
					<span id="show_large_map">
					<a href=" http://www.mapabc.com/localsearch.shtml?o,%E5%8C%97%E4%BA%AC,,T6%E9%A6%99%E8%BE%A3%E7%81%AB%E9%94%854%E4%BA%BA%E5%A5%97%E9%A4%90%E4%B8%80%E4%BB%BD,116.46060,39.90629,,%E6%9C%9D%E9%98%B3%E5%8C%BA%E4%B8%9C%E4%B8%89%E7%8E%AF%E4%B8%AD%E8%B7%AF39%E5%8F%B7%E5%BB%BA%E5%A4%96SOHO8%E5%8F%B7%E6%A5%BC3%E5%B1%82%EF%BC%88%E5%BB%BA%E8%AE%BE%E9%93%B6%E8%A1%8C%E6%97%81%EF%BC%89,010-59000560" target="_blank">查看完整地图</a>
					</span>
					</div>
					</div>
					</div>
					<ul class="com_adr" style="margin:7px 0;">
					<li onmouseover="change_blue(0);" onmouseout="change_yellow(0);" onclick="get_center_map('0','北京','T6香辣火锅4人套餐一份','朝阳区东三环中路39号建外SOHO8号楼3层（建设银行旁）','010-59000560');" id="li_0" style="padding-top: 2px; padding-right: 4px; padding-bottom: 2px; padding-left: 4px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 248, 230); background-position: initial initial; background-repeat: initial initial; ">
					<b>建外soho店</b>
					<span>地址：朝阳区东三环中路39号建外SOHO8号楼3层（建设银行旁）</span>
					<span>营业时间：11:00-22:00</span>
					<span>电话：010-59000560</span>
					</li>
					<li onmouseover="change_blue(1);" onmouseout="change_yellow(1);" onclick="get_center_map('1','北京','T6香辣火锅4人套餐一份','北京市朝阳区大望路soho现代城底商（大望桥西南角）','010-85806014');" id="li_1" style="padding-top: 2px; padding-right: 4px; padding-bottom: 2px; padding-left: 4px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 248, 230); background-position: initial initial; background-repeat: initial initial; ">
					<b>Soho现代城店</b>
					<span>地址：北京市朝阳区大望路soho现代城底商（大望桥西南角）</span>
					<span>营业时间：11:00-22:00</span>
					<span>电话：010-85806014</span>
					</li>
					<li onmouseover="change_blue(2);" onmouseout="change_yellow(2);" onclick="get_center_map('2','北京','T6香辣火锅4人套餐一份','北京朝阳区朝阳路八里庄100号住邦2000底商（慈云寺桥东）','010-85869568');" id="li_2" style="padding-top: 2px; padding-right: 4px; padding-bottom: 2px; padding-left: 4px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 248, 230); background-position: initial initial; background-repeat: initial initial; ">
					<b>住邦2000店</b>
					<span>地址：北京朝阳区朝阳路八里庄100号住邦2000底商（慈云寺桥东）</span>
					<span>营业时间：11:00-22:00</span>
					<span>电话：010-85869568</span>
					</li>
					<li onmouseover="change_blue(3);" onmouseout="change_yellow(3);" onclick="get_center_map('3','北京','T6香辣火锅4人套餐一份','朝阳区望京新城4区（移动通讯大厦对面）','010-64705151');" id="li_3" style="padding-top: 2px; padding-right: 4px; padding-bottom: 2px; padding-left: 4px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 248, 230); background-position: initial initial; background-repeat: initial initial; ">
					<b>望京店</b>
					<span>地址：朝阳区望京新城4区（移动通讯大厦对面）</span>
					<span>营业时间：11:00-22:00</span>
					<span>电话：010-64705151</span>
					</li>
					</ul>
					<a href="" target="_blank"></a>
					</div>
				</div>
			</div>
			<div class="d_bottom">
				<img src="/images/bg_dlinbom.png" width="690" height="8/">
			</div>
		</div>
	</div>
	<div class="main_r">
		<%= render "/partials/side" %>
	</div>