
	<h1>大类修改</h1>
	<%= form_for([:admin, @node]) do |f| %>
	<ul>
		<li>
			<label for="Node_Name">名称</label>
			<%= text_field :node, :name, :class => "InputBox" %>
		</li>
	</ul>
	<input type="submit" id="Form_Save" name="Node/Save" value="保存" class="Button">
	<% end %>