
	<h1>大类管理</h1>
	<div class="FilterMenu">
		<a href="/admin/nodes/new" class="SmallButton">添加大类</a>
	</div>
	<table id="Nodes" class="AltColumns">
		<thead>
			<tr>
				<th>名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @nodes.each do |node| %>
			<tr class="Alt">
				<td><strong><%= node.name %></strong></td>
				<td>
					<a href="<%= edit_admin_node_path(node) %>" class="SmallButton">修改</a>
					<%= link_to '删除', admin_node_path(node), :confirm => '确认要删除吗?', :method => :delete, :class => "SmallButton" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>