

<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="m_main_title">
				<div class="l" style="padding-left:150px;"><img src="/images/img_zcok.jpg" align="absmiddle"> <span style="font-family:黑体;">恭喜您，验证成功！</span></div>
			</div>
			<div class="m_main_info">
				<div style="padding:40px 20px;">
					<div style="font-size:16px;font-weight:bold;">您的Email已经验证成功！ </div>
					<p style="color:#666;font-size:14px;line-height:30px;">每邀请一位朋友注册拉手网，更有机会获得面值10元的拉手现金券，<a href="invite3.php">去邀请</a>。</p>
				</div>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
</div>
