

<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="m_main_title">
				<div class="l" style="padding-left:150px;"><img src="/images/img_zcok.jpg" align="absmiddle"> <span style="font-family:黑体;">恭喜您，注册成功！</span></div>
			</div>
			<div class="m_main_info">
				<div style="padding:20px;">
					<div style="font-size:16px;font-weight:bold;">
						您已成功注册星吉团 <span style="font-size:14px;font-weight:normal;color:#666;">现在就去尽享无敌折扣吧！</span>
					</div>
					<div style="padding-top:10px;">
						<form method="get" action="/">
							<input type="submit" style="background:url(/images/img_zcbtn.jpg) repeat-x;border-top:#FFCC00 1px solid;border-left:#FFCC00 1px solid;border-right:#A86500 1px solid;border-bottom:#A86500 1px solid;font-size:14px;padding:3px 0px;hegiht:28px;width:120px;color:#fff;cursor:pointer;font-weight:bold;" value="去团购">
						</form>
					</div>
					<div style="font-size:16px;font-weight:bold;padding-top:50px;">请验证您的Email </div>
					<div style="font-size:14px;line-height:24px;color:#666">
						我们发送了一封验证邮件到 <span style="font-weight:bold;"><%= @user.email %></span> ，请到您的邮箱收信，并点击其中的链接验证您的邮箱。一旦您验证邮箱，您将：<br>
				
						<p>● 更方便地享受7天无条件退款服务;</p>
						<p>● 收到您的即时消费信息;</p>
						<p>● 收到每天的最新团购信息;</p>
						<p>● 收到星吉团不定期举办的各种回馈用户活动信息。</p>
					</div>
					<div style="padding-top:10px;">
						<form method="get" action="<%= any_email_login_addr(@user.email) %>" target="_blank">
							<input type="submit" style="background:url(/images/img_zcbtn.jpg) repeat-x;border-top:#FFCC00 1px solid;border-left:#FFCC00 1px solid;border-right:#A86500 1px solid;border-bottom:#A86500 1px solid;font-size:14px;hegiht:28px;font-weight:bold;padding:3px 0px;width:120px;color:#fff;cursor:pointer" value="去我的邮箱">
						</form>
					</div>
					<div style="background:#f7f7f7;padding:15px 20px;margin:30px 0px 10px 0px;font-size:12px;color:#666;">
						<p style="font-weight:bold;color:#000;">收不到邮件？</p>
						<p>● 有可能被误判为垃圾邮件了，请到垃圾邮件文件夹找找。</p>
						<p>● 用 <span style="font-weight:bold;"><%= @user.email %></span> 向 <strong><a href="mailto:support@xingjibuy.com?subject=%D1%E9%D6%A4">support@xingjibuy.com</a></strong> 发送一封任意内容的邮件，几分钟后即可自动验证。</p>
						<p>● 联系客服QQ，让客服MM来帮您解决：QQ: 605293885（周一至周日9:00-18:00）。</p>
					</div>
				
					<div style="font-size:14px;color:#999">
						<a href="/send_activate_email" class="blue12">再次发送验证邮件</a>｜<a href="javascript:history.back()" class="blue12">换个邮件地址重新注册</a>
					</div>				
				</div>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
</div>
