

<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="m_main_title">
				注册<span style="font-size:14px;font-weight:normal"> 或者 <a href="regn.php">登录</a></span>
			</div>
			<div class="m_main_info" style="padding-left:80px;">
				<% if @user.errors.any? %>
				<ul class="flash_errors">
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
				<% end %>
				<%= form_tag "/reg_rst", :method => "post" do %>
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tbody>
						<tr>
							<td height="50" align="right" style="font-size:14px;"><font color="red">*</font> 邮　　箱：</td>
							<td width="75%">
								<%= text_field :user, :email, :class => "iInput", :maxlength => "200", :size => "28" %>
							</td>
						</tr>
						<tr>
							<td height="50" align="right" style="font-size:14px;"><font color="red">*</font> 用户名称：</td>
							<td><%= text_field :user, :username, :class => "iInput", :size => "28" %></td>
						</tr>
						<tr>
							<td height="50" align="right" style="font-size:14px;"><font color="red">*</font> 用户密码：</td>
							<td><input type="password" name="user[password]" id="user_password" class="iInput" size="28" value=""></td>
						</tr>
						<tr>
							<td height="50" align="right" style="font-size:14px;"><font color="red">*</font> 确认密码：</td>
							<td><input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="iInput" size="28" value=""></td>
						</tr>						
						<tr>
							<td height="50" align="right" valign="top" style="font-size:14px;padding-top:10px;">邀请人邮箱：</td>
							<td style="padding-top:5px;">
								<input name="inviemail" type="text" class="iInput" size="28" id="invi_email">
								<div style="background:none;border:none;padding:0px;margin:0px;line-height:18px;color:#999">
								如果此栏为空，表示您的邀请人信息并未被记录，如果您是通过朋友邀请注册，您可以在栏中直接输入邀请人的邮箱。
								</div>
							</td>
						</tr>
						<tr>
							<td height="45" align="right" style="font-size:14px;"></td>
							<td> <label>
							<input name="submit" type="submit" class="btn_common btn_reg" value="注 册 ">
							</label></td>
						</tr>
						</tbody>
					</table>
				<% end %>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
	<div class="ycsamebox" style="margin-top:10px;">
		<div class="d_top"></div>
		<div class="d_main clearfix" style="padding:10px 20px 10px 20px">
			<div class="title">已有星吉团账户？</div>
			<div class="txt">请直接<a href="/login">登录</a></div>
		</div>
		<div class="d_bottom"><img src="/images/bg_ycbom_n.png"></div>
	</div>
</div>
