

<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="m_main_title">
				发送验证邮件
			</div>
			<div class="m_main_info">
				<div style="font-size:16px;font-weight:bold;padding:20px;">
					验证邮件已发送!
				</div>
				<div style="padding-top:10px;">
					<form method="get" action="<%= any_email_login_addr(@user.email) %>" target="_blank">
						<input type="submit" style="background:url(/images/img_zcbtn.jpg) repeat-x;border-top:#FFCC00 1px solid;border-left:#FFCC00 1px solid;border-right:#A86500 1px solid;border-bottom:#A86500 1px solid;font-size:14px;hegiht:28px;font-weight:bold;padding:3px 0px;width:120px;color:#fff;cursor:pointer" value="去我的邮箱">
					</form>
				</div>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
</div>
