
<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="gbt_line">
				承诺与保证
			</div>
			<div class="sect" style="font-size:14px;">
				<p><strong>玫瑰团的承诺与保证</strong></p>
				<p>玫瑰团承诺在网购全程照顾您</p>
				<p>玫瑰团承诺为您提供优惠，有保证，安心的网购平台</p>
				<p>玫瑰团承诺在您需要的时候能够快捷地找到我们，我们始终在您身边</p>
				<p>玫瑰团承诺一心一意地为您提供舒适、满意的服务</p>
				<p>玫瑰团承诺保障您在消费过程中的权益</p>
				<p>&nbsp;</p>
				<p><strong>活动真实性保证</strong></p>
				<p>玫瑰团所展示的每项优惠 活动，均与承办该活动商家签订了合作协议，其真实性、准确性和合法性由活动商家负责。如发生因商家原因导致实际活动不符合玫瑰团所 描述 的活动内容，玫瑰团将协调当事人与商户进行问题的磋商与解决，包括但不限于赔付用户所支付费用等；如发生因玫瑰团原因导致活动不符合玫瑰团所描述的活 动内 容，玫瑰团将承担全部责任，并对用户受到的损失进行赔偿。</p>
				<p>&nbsp;</p>
				<p><strong>支付安全保证</strong></p>
				<p>玫瑰团目前仅支持在线支付，在线支付的安全性由银行方面保障，当消费者选择了在线支付后，在需要填写银行卡资料时，实际上已经 离开本站服务器，到达了到银行的支付网关。国内各大银行的支付网关，都采用了国际流行的SSL或SET方式加密，可以保障您的任何信息不会被任何人窃取。因为在线支 付是在银行的支付 网关中完成的，所以用户也不必担心您的银行卡资料会在经由本站泄露。</p>
				<p>&nbsp;</p>
				<p><strong>退款保证</strong></p>
				<p>玫瑰团为了进一步切实有效地保障消费者的利益，实行当消费者网上支付后，如遇到活动未达到活动说明的条件而取消时，玫瑰团收到 相关资料核实无误后，将在3个工作日之内将该活动的活动款项通过银行转账的方式退回给消费者，并不收取任何手续费。</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
</div>
