
<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="gbt_line">
				关于星吉团
			</div>
			<div class="sect" style="font-size:14px;">
				<p><strong>1、为什么选择加入玫瑰团?</strong></p>
				<p>因为这里有最当红的单品与最时尚的享受与服务，以及超乎你想象的折扣价格。加入玫瑰团，您可以把更多实惠带给亲朋好友。</p>
				<p>&nbsp;</p>
				<p><strong>2、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
				<p><strong>3、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
				<p><strong>4、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
				<p><strong>5、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
</div>
