
<div class="main_l">
	<div class="common_box">
		<div class="m_top">
			<img src="/images/bg_scodtop.png">
		</div>
		<div class="m_main">
			<div class="gbt_line">
				用户协议
			</div>
			<div class="sect" style="font-size:14px;">
				<p><strong>一、喜团网服务条款的确认和接纳</strong></p>
				<p>喜团网（以下简称本站）的各项电子服务的所有权和运作权归本站。本站提供的服务将完全按照其发布的服务条款和操作规则严格执行。用户必须完全同意所有服务条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的当然约定依据，除非违反国家强制性法律，否则始终有效。在下订单的同时，您也同时承认了您拥有购买这些产品的权利能力和行为能力，并且将您对您在订单中提供的所有信息的真实性负责。</p>
				<p>&nbsp;</p>
				<p><strong>2、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
				<p><strong>3、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
				<p><strong>4、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
				<p><strong>5、加入需要做些什么准备?</strong></p>
				<p>您需要注册为玫瑰团会员。</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="m_bottom">
			<img src="/images/bg_scodbom.png">
		</div>
	</div>
</div>
<div class="main_r">
</div>
