<%= form_for(@tuan) do |f| %>
  <% if @tuan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tuan.errors.count, "error") %> prohibited this tuan from being saved:</h2>

      <ul>
      <% @tuan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
