<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Admin - DashBoard</title>
		<%= stylesheet_link_tag "admin_common", "set", "admin", "willpaginate" %>
		<%= javascript_include_tag "prototype", "rails", "admin/select" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
	
<div id="Container">
	<div id="Head" class="clearfix">
		<h1><a href="/admin">Vanilla 2</a></h1>
		<div class="User">
			<a href="/profile/admin" class="Profile">admin</a>
			<a href="/logout" class="Leave">退出</a>
		</div>
	</div>
	<div id="PageBody">
		<div id="Panel">
            <div>
		   		<div class="Box Group Dashboard<% if @box=="Dashboard" %> Active<% end %>">
					<h4><a href="/admin">管理</a></h4>
				</div>
				<div class="Box Group Appearance<% if @box=="Appearance" %> Active<% end %>">
					<h4>内容管理</h4>
					<ul class="PanelInfo">
						<li<% if @li=="topics" %> class="Active"<% end %>><a href="/admin/topics">帖子</a></li>
						<li<% if @li=="bookmarks" %> class="Active"<% end %>><a href="/admin/bookmarks">发现</a></li>
					</ul>
				</div>
				<div class="Box Group Users<% if @box=="Users" %> Active<% end %>">
					<h4>用户</h4>
					<ul class="PanelInfo">
						<li<% if @li=="users" %> class="Active"<% end %>><a href="/admin/users">用户</a></li>
					</ul>
				</div>
				<div class="Box Group SiteSettings<% if @box=="SiteSettings" %> Active<% end %>">
					<h4>设置</h4>
					<ul class="PanelInfo">
						<li<% if @li=="nodes" %> class="Active"<% end %>><a href="/admin/nodes">大类</a></li>
						<li<% if @li=="topic_categories" %> class="Active"<% end %>><a href="/admin/topic_categories">小类</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="Content">
			<%= yield %>
		</div>
	</div>
	<div id="Footer">
		<div class="Version">Version 2.0.17.8</div>
		<div><a href="http://vanillaforums.org"><img src="/images/logo_footer.png" alt="Vanilla Forums"></a></div>
	</div>
</div>

	</body>
</html>
